.hidden {
  display: none;
}
#weather {
  display: block;
  padding: 20px;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
  color: white;
}
.container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
#clock{
  font-size: 100px;
  padding-top: 100px;
  margin-bottom: 20px;
}
input:focus {
  outline: none;
}
#login-form input::placeholder{
  text-align: center;
  color: white;
  font-size: 20px;
}
#login-form {
  margin-bottom: 20px;
}
#login-form button {
  background: none;
  color: white;
  border: none;
  font-size: 30px;
}
#login-form input {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  width: 300px;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
}

#todo-form input::placeholder{
  text-align: center;
  color: white;
  font-size: 20px;
}

#todo-form input {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  width: 300px;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
}
li button {
  background: none;
  border: none;
  font-size: 20px;
  color: tomato;
}
li{
  font-size: 20px;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

